<div class="jumbotron">
  <div  class="row">
    <div class="box-model">
    <div class="col-sm-5">

  <h2 class="top">About GitHubSearch</h2>
     </div>
    </div>

<div class="col-sm-7">



  <img  class="here"[src]="hereImage">




</div>
</div>
</div>
<div class="container-fluid">

  <p class="info"><img  [src]="secondImage"> An Application build with angular that allows you
  to look for any github users by simply typing in their user name and your able to view the user and their
diffrent repositories </p>
</div>
