.jumbotron{
  background-color: black;
}
h2 {
  font-family: 'Delius', cursive;
  font-size: 25px;
}
p{
  font-family: 'Handlee', cursive;
  font-size:20px;
  color: yellow;
}
.info{
  background-color: black
}

.box-model{
  width: 200px;
  height: 100px;
  border: 1px solid black;
  float:left;
  background-color: yellow;
}
img{
  float:;
  height: 100px;
  border-radius: 50%;

}
.here{
  height: 100px;
  border-radius: 60%;
  width:100px;
 

}
